# VSCode Reference:
# https://github.com/github/gitignore/blob/master/Global/VisualStudioCode.gitignore
# https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
# intelliJ Reference:
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
*.code-workspace
*.iml
*.ipr
*.iws
*.launch
*.sublime-workspace
.DS_Store
.c9/
.classpath
.env
.history/
.history/*
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/caches/build_file_checksums.ser
.idea/httpRequests
.idea/replstate.xml
.idea_modules/
.project
.settings/
.vscode/*
/.idea
/.sass-cache
/bazel-out
/connect.lock
/coverage
/dist
/libpeerconnection.log
/node_modules
/out-tsc
/tmp
/typings
TODO
Thumbs.db
atlassian-ide-plugin.xml
chrome-profiler-events*.json
cmake-build-*/
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
db/*
fabric.properties
npm-debug.log
out/
speed-measure-plugin*.json
testem.log
yarn-error.log
